/* Ensure text color in navigation is white */
.navbar,
.navbar a,
.navbar .nav-link,
.navbar .dropdown-item {
  color: white !important;
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  font-weight: 900 !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
